{
    "presets": [
        [
            "@babel/preset-env",
            {
              "useBuiltIns": "entry",
              "targets": "> 0.25%, not dead",
              "modules": "cjs",
              "debug": true,
            }
        ],
        "@babel/preset-typescript",
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/proposal-class-properties",
        "@babel/plugin-proposal-optional-chaining",
        "@babel/proposal-object-rest-spread"
    ]
}